﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}
<div id="body">
    <div>
        <h2>All Products</h2>
        <ul id="products" />
    </div>
    <div>
        <h2>All User</h2>
        <ul id="users" />
    </div>
    <input type="text" id="url" size="50" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />

    <div>
        <select>
            a
            <option id="Get">Get</option>
            <option id="GetAll">Get All</option>
            <option id="Add">Add</option>
            <option id="Update">Update</option>
            <option id="Delete">Delete</option>
        </select>
