﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>"WELCOME"</h1>
    <div>
        @RenderBody()
    </div>
    <h2>MSSV : 1212439</h2>
    <h2>Đoàn Xuân Trí</h2>
</body>
</html>
